<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Aria2 manager Settings</title>
		<meta
			name="viewport"
			content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width"
		/>
		<link href="../images/favicon.ico" rel="shortcut icon" type="image/ico" />
		<link href="../css/tocas.css" rel="stylesheet" />
	</head>
	<body>
		<script type="text/x-template" id="rpc">
			<div class="inline fields">
				<div class="four wide field">
					<input type="text" class="input-small" placeholder="RPC Name" v-model="rpc.name" />
				</div>
				<div class="ten wide field">
					<input
						type="text"
						class="input-xlarge rpc-path"
						placeholder="RPC Path"
						v-model="rpc.url"
					/>
				</div>
				<div class="two wide field" style="margin-bottom: auto;">
					<button type="button" class="ts button negative" @click="rpc=null">-</button>
				</div>
			</div>
		</script>
		<div id="app">
			<div class="ts container">
				<h1 class="ts header">{{ i18n('configPageTitle') }}</h1>
				<div class="ts form">
					<fieldset>
						<legend>{{ i18n('contextmenuStr') }}</legend>
						<div class="field">
							<div class="ts checkbox">
								<input type="checkbox" v-model="contextMenus" @change="save" id="contextMenus" />
								<label for="contextMenus">{{ i18n('contextmenuDes') }}</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>{{ i18n('downloadCaptureStr') }}</legend>
						<div class="field">
							<div class="ts checkbox">
								<input type="checkbox" v-model="integration" @change="save" id="integration" />

								<label for="integration">{{ i18n('downloadCaptureDes') }}</label>
							</div>
							<div class="ts right labeled mini input">
								<input type="number" placeholder="File Size" v-model.number="fileSize" @change="save" />
								<ts class="label">MB</ts>
							</div>
						</div>
						<div class="field">
							<div class="ts checkbox">
								<input
									type="checkbox"
									v-model="askBeforeDownload"
									@change="save"
									id="askBeforeDownload"
								/>
								<label for="askBeforeDownload">{{ i18n('askBeforeDownloadDes') }}</label>
							</div>
						</div>
						<div class="field">
							<div class="ts checkbox">
								<input type="checkbox" v-model="finalUrl" @change="save" id="finalUrl" />
								<label for="finalUrl">{{ i18n('captureFinalUrlDes') }}</label>
							</div>
						</div>
						<div class="field">
							<div class="ts checkbox">
								<input type="checkbox" v-model="captureMagnet" @change="save" id="captureMagnet" />
								<label for="captureMagnet">{{ i18n('captureMagnet') }}</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>JSON-RPC</legend>
						<div class="field">
							<button type="button" class="ts button" @click="addRpc">Add RPC</button>
						</div>
						<rpc v-for="(rpc,idx) in rpc_list" :value="rpc" @input="updaterpc($event,idx)"/>
					</fieldset>
					<fieldset>
						<legend>{{ i18n('website') }}</legend>
						<div class="fields">
							<div class="field">
								<label>{{ i18n('whiteList') }}</label>
								<textarea
									rows="6"
									:placeholder="i18n('placeHolderTipStr')"
									v-model="white_site"
									@change="save"
								></textarea>
							</div>
							<div class="field">
								<label>{{ i18n('blackList') }}</label>
								<textarea
									rows="6"
									:placeholder="i18n('placeHolderTipStr')"
									v-model="black_site"
									@change="save"
								></textarea>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>{{ i18n('fileExtension') }}</legend>
						<div class="fields">
							<div class="field">
								<label>{{ i18n('whiteList') }}</label>
								<textarea
									rows="6"
									:placeholder="i18n('placeHolderTipStr')"
									v-model="white_exts"
									@change="save"
								></textarea>
							</div>
							<div class="field">
								<label>{{ i18n('blackList') }}</label>
								<textarea
									rows="6"
									:placeholder="i18n('placeHolderTipStr')"
									v-model="black_exts"
									@change="save"
								></textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="ts centered grid">
				<div class="two center aligned column">
					<button type="button" class="ts button negative" @click="reset">Reset</button>
				</div>
			</div>
		</div>
		<script src="../js/vue.min.js"></script>
		<script src="../js/options.js"></script>
	</body>
</html>
